.item-list{
    padding: 0 10%;
}

.carousel-wrapper{
    position: relative;
    overflow-x: hidden;
    height: 500px;
}

.item-list-carousel{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin-top: 30px;
    align-items: flex-start;
    transition: all 0.7s ease-in-out
    
    
}