.item-card{
    border:  2px solid black;
    margin-bottom: 30px;
    margin-right: 41px;
    width: 200px;
    


    img{
        width: 100%;
        object-fit: cover;
    }
    
}

.img-container{
    width: inherit;

    
}
